 .note {
     width: 250px;
 }
 #app {
     padding: 10px;
 }
 div.panel-heading {
     color: #000!important;
 }
 div.panel {
     margin-left: 20px;
     box-shadow: 2px 2px 2px 1px #ccc;
 }
 div.notePanel div.panel-body {
     font-family: cursive;
 }
 .dashboard {
     float: right;
     margin-right: 10px;
     width: 50%;
 }
 button.addNote {
     margin-bottom: 10px;
     margin-left: 20px;
 }
